<h1 class="my-4 mb-5 fontColorTopic" style="text-align:center;">Page Heading
    <small>Secondary Text</small>
</h1>


<div class="container" style="padding: 20px 20px;">
  <div class="mb-5">
      <div class="row">
        <div class="col-md-5">
          <img class="card-img-top" src="https://photo2.tinhte.vn/data/attachment-files/2017/09/4141440_4077595_H_tren_tay_microsoft_surface_pro_2017.jpg" alt="Card image cap">
        </div>
        <div class="col-md-7 paddingCard">
            <h3 class="fontColorsubTopic">Does all the work</h3>
            <p>The WhiteAlbum software downscales your images to web and thumbnail size,
              creates complete web pages
              , and uploads them to WhiteAlbum or your own website!
            </p>
        </div>
      </div>
  </div>


  <div class="mb-5">
      <div class="row">
        <div class="col-md-7 paddingCard">
            <h3 class="fontColorsubTopic">Easy to use</h3>
            <p>Your can have been experienced all feeling in this website,
              You can create your albums and connect people
              in the world into Your content you want
            </p>
        </div>
        <div class="col-md-5">
          <img class="card-img-top" src="https://photo2.tinhte.vn/data/attachment-files/2017/10/4146779_H_Intel_7960X.jpg" alt="Card image cap">
        </div>
      </div>
  </div>

  <div class="mb-5">
      <div class="row">
        <div class="col-md-5">
          <img class="card-img-top" src="https://photo2.tinhte.vn/data/attachment-files/2017/10/4146811_home_Google_Pixel_XL_2_Pixel_Book_HTC_AI_4.jpg" alt="Card image cap">
        </div>
        <div class="col-md-7 paddingCard">
            <h3 class="fontColorsubTopic">Publish anywhere</h3>
            <p>Host your web albums with us or upload them to your own website. No restrictions!
            </p>
        </div>
      </div>
  </div>
</div>
<!-- Blog Post -->
