<div class="my-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Library</li>
    </ol>
    <h1>Albums</h1>

    <div class="card my-3">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="fixImageContainer">
                  <img class="bg-info" src="https://photo2.tinhte.vn/data/attachment-files/2017/09/4141337_CV.jpg" alt="">
                </div>
                <div class="col-3 mx-auto">
                    <img class="rounded-circle img-fluid" src="http://boom-admin.herokuapp.com/img/people/men14.jpg">
                </div>
                <div class="col-12 text-center">
                    <h3>Horton Beasley</h3>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 py-3" style="text-align:center;">
                  <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-sm text-center">
                    <i class="fa fa-star"></i>
                    <br>
                    Saves
                    <h4>17</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-heart"></i>
                    <br>
                    Likes
                    <h4>9</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-file-o"></i>
                    <br>
                    Posts
                    <h4>45</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-user"></i>
                    <br>
                    Friends
                    <h4>36</h4>
                </div>
            </div>
        </div>
    </div>



    <div class="card my-3">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="fixImageContainer">
                  <img class="bg-info" src="https://photo2.tinhte.vn/data/attachment-files/2017/09/4141337_CV.jpg" alt="">
                </div>
                <div class="col-3 mx-auto">
                    <img class="rounded-circle img-fluid" src="http://boom-admin.herokuapp.com/img/people/men14.jpg">
                </div>
                <div class="col-12 text-center">
                    <h3>Horton Beasley</h3>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 py-3" style="text-align:center;">
                  <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-sm text-center">
                    <i class="fa fa-star"></i>
                    <br>
                    Saves
                    <h4>17</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-heart"></i>
                    <br>
                    Likes
                    <h4>9</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-file-o"></i>
                    <br>
                    Posts
                    <h4>45</h4>
                </div>
                <div class="col-sm text-center">
                    <i class="fa fa-user"></i>
                    <br>
                    Friends
                    <h4>36</h4>
                </div>
            </div>
        </div>
    </div>
</div>
