<div class="row">
  <div class="col-md-10">
    <div class="my-4" id="loginContent">

        <h2>New Album</h2>
        <%= form_with(model: @album, local: true) do |f| %>
          
          <div class="form-group">
            <%= f.label :background , "Image cover"%>
            <br />
            <%= f.file_field :background, autocomplete: "off", class: "btn btn-primary" %>
          </div>
          <div class="actions">
            <%= f.submit "Post", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
