<div class="my-4">
    <h1 class="my-4">About Us
        <small>Nice to Meet You!</small>
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?
    </p>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>N.Thái Học
                <small>Developer</small>
            </h3>
            <p>.............</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>T.Thiên Hoàng
                <small>Developer</small>
            </h3>
            <p>.............</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>H.Anh Tú
                <small>Leader</small>
            </h3>
            <p>.............</p>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 class="my-4">My location</h2>
      </div>
      <div class="col-lg-12" style="height: 500px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.902978792712!2d106.66578785599438!3d10.845231476992502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175285484b3ef47%3A0xbf4f8e9416ff6d1!2zTMOqIMSQ4bupYyBUaOG7jSwgcGjGsOG7nW5nIDE1LCBHw7IgVuG6pXAsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1491466770039" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
</div>
